<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
            </div>

            <div style="height: 50vh;">
                <img style="max-width: 100%;" class="card-img-top" src="https://i.pinimg.com/originals/1c/2f/52/1c2f52962906d49ee2c3359a23de64e1.jpg" alt="Card image cap">
                <div class="card-body">
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</small>
                  </div>
            </div>


        </div>
    </div>


    
</body>
</html>